<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Video Application</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="container">
        <div id="details">
        </div>
        <div id="movies">
        </div>
    </div>
    <script type="text/html" id="movies_list_tmpl">
      <ul id="movies-list">
      <% for ( var i = 0; i < data.length; i++ ) { %>
        <li class="movies-item <%=(i  == 0 ? "selected" : "")%>" rel="<%=i%>">
            <img src="<%=APP.Config.imageDir%>/<%=data[i].images.cover%>" />
            <div class="movies-item-info">
                <p class="movies-item-title"><%=data[i].title%></p>
                <p class="movies-item-year"><%=data[i].meta.releaseYear%></p>
            </div>
        </li>
      <% } %>
      </ul>
    </script>
    <script type="text/html" id="movies_details_tmpl">
        <div id="movies-placeholder">
            <video width="<%=APP.Config.videoWidth%>" height="<%=APP.Config.videoHeight%>" controls poster="<%=APP.Config.imageDir%>/<%=data.movie.images.placeholder%>">
                <% for ( var i = 0; i < data.movie.streams.length; i++ ) { %>
                    <source src="<%=data.movie.streams[i].url%>" type="video/<%=data.movie.streams[i].type%>">
                <% } %>
                Your browser does not support the video tag.
            </video>
            <div class="movies-description">
                <p class="movies-title"><%=data.movie.title%> ( <%=data.movie.meta.releaseYear%> ) </p>
                <p class="movies-info">Directors: <%=data.movie.directors%></p>
            </div>
        </div>
    </script>
    <script src="js/config.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/templater.js"></script>
    <script src="js/publisher.js"></script>
    <script src="js/video.js"></script>
    <script src="js/moviesList.js"></script>
    <script src="js/details.js"></script>
    <script src="js/main.js"></script>
</body>
</html>